:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    --primary-color: #18162D;
    --secondary-color: #3579F4;
    --first-text-color: rgba(24, 22, 45, 0.9);
    --service-color: #000000;
    --copyright-color: rgba(255, 255, 255, 0.4);
    --footer-color: #FFFFFF;
    --message-color: #8C8C8C;
}

h2 {
    font-size: 2rem;
    color:var(--secondary-color);
}

.header-class {
    font-family: 'Mulish', sans-serif;
}