:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    --primary-color: #18162D;
    --secondary-color: #3579F4;
    --prefooter-color: #5591FF;
    --first-text-color: rgba(24, 22, 45, 0.9);
    --service-color: #000000;
    --copyright-color: rgba(255, 255, 255, 0.4);
    --footer-color: #FFFFFF;
    --message-color: #8C8C8C;
}

hr{
    display:none;
}

p{
    max-width: 44.5rem;
}

section{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

header{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

footer{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

h1{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

.headerclass{
    display: flex;
    justify-content: space-between;
}



textarea{
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    
}

input{
    border: 0;
    border-radius: 1rem;
    margin-top: 4.956rem;
    margin-bottom: 1.5rem;
}

h2 {
    
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color:var(--secondary-color);
    margin-bottom: 2.5rem;
}

li {
    list-style-type: none;
    
  }

a{
    color: inherit;
    text-decoration: none;
}

.firstsection{
    display: flex;
}

.ul1-footer-class{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 8.7rem;
    margin-bottom: 3.4rem;
}



.li-footer-class{
    padding-bottom: 3rem;
}

.in-put::placeholder {color: var(--footer-color);}

.description-class {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.9rem;
    color: var(--primary-color);
    margin-top: 3.95rem;
    margin-bottom: 4rem;
}

.intro-class {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    box-sizing: border-box;
}

.shead-class{
    font-family: 'Mulish', sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 5.2rem;
}

.bload-section{
    display: flex;
    margin-right: 3rem;
    flex-direction: column;
    max-width: 450px;
}

.menu-class{
    
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--footer-color);
}

.info-class{
    
}

.loaddiv{
    display: grid;
}

.lib-class{
    padding-left: 2.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 43rem;
    row-gap: 2.3rem;
    column-gap: 0.954rem;
}

.button-class{

}

.opser-class{
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        font-size: 3.4rem;
        color: var(--primary-color);
        text-decoration: none;
        margin-top: 10.96rem;
        margin-bottom: 3rem;
}

.opserel-class{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    line-height: 2.2rem;
    font-size: 2.2rem;
    color: var(--service-color);
    border-radius: 20px;
    text-align: center;
    box-shadow: -4px 4px 16px rgb(0 0 0 / 10%);
    padding: 3.7rem 2rem;
}

.contact-class{
    padding-top: 10.2rem;
    padding-bottom: 2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 3.4rem;
    color: var(--footer-color);
    
}

.contacttext-class::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    color: var(--footer-color);
    background-color: var(--prefooter-color);
}


.contacttext-class {
    border:0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    color: var(--footer-color);
    background-color: var(--prefooter-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.contacttext2-class {
    padding-bottom: 3.5rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    color: var(--footer-color);
    background-color: var(--secondary-color);
}




.in-put::placeholder {
    color: var(--footer-color);
  }

.send-class{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2.1rem;
    padding-left: 8.9rem;
    padding-right: 8.9rem;
    border-radius: 1rem;
    background-color: var(--footer-color);
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--message-color);
    text-transform: uppercase;
    border:0;
}

.pre-footer-section-class{
    
    margin-bottom: -6.2rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    
}

.footer-text-class{
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: -0.1rem;
    color:var(--footer-color);
}

.footer-background-class{
    background-color: var(--primary-color);
    border-radius: 3.5rem 3.5rem 0rem 0rem;
}

.copyright-class{
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--message-color);
    padding-top: 11.2rem;
    padding-bottom: 5.3rem;
}

.contacttextpolicy-class{
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    text-decoration: underline;
    color: var(--footer-color);
    background-color: var(--secondary-color);
}

.border{
    border-bottom: 0.3rem solid var(--secondary-color);
    padding-bottom: 2.45rem;
    margin-top: 8.09rem;
}



.class-menu-footer{
    padding-top: 6.2rem;
    margin-bottom: 6.4rem;
}

.li2-footer-class{
    padding-bottom: 1.7rem;
}

.load-class{
    margin-top: 4.96rem;
}

.nav-class{
    display: none;
}

.img-garage-boat{
    position:absolute;
    right: 0;
}

.ul-op-class{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 11rem;
}

.img-prefooter{
    position: absolute;
    right: 0;
    margin-top: 13.8rem;
}

@media (min-width: 1300px){
    section{
        padding-left: 13.2rem;
        padding-right: 13.2rem;
    }
    
    header{
        padding-left: 13.2rem;
        padding-right: 13.2rem;
    }
    
    footer{
        padding-left: 13.2rem;
        padding-right: 13.2rem;
    }
    
    h1{
        padding-left: 13.2rem;
        padding-right: 13.2rem;
    }

    p{
        max-width: 44.5rem;
    }

    nav{
        margin-left: 8.5rem;
    }

.border{
    border-bottom: 0rem;

}

.threediv{
    display: flex;
        flex-wrap: row nowrap;
        justify-content: flex-start;
        align-items:flex-start;
}
    .section-img-rightborder-class{
        display: flex;
        flex-wrap: row nowrap;
        justify-content: space-between;
        align-items:flex-start;
    }


    .headerclass{
        display: flex;
        justify-content: space-between;
    }
    
    .menu-btn-class{
        display: none;
    }

    .nav-class{
        display: flex;
        justify-content: space-between;
    }

    .ul-op-class{
        display: flex;
        gap: 2.5rem;
    }

    .menu2-class{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    }

    .ul-menu-class{
        display:flex;
        margin-left: 4.2rem;
        min-width: 350px;
        justify-content: space-between;
    }

    .header-div-class{
        display:flex;
        justify-content: space-between;
    }

    .ul-op-class{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 2.5rem;
        margin-bottom: 11rem;
        max-width: 1200px;
    }

    .container-shipment__line {
        display: block;
        height: 3px;
        flex-grow: 1;
        background-color: var(--secondary-color);
        margin-top: 2.4rem;
        border-radius: 20px;
    }
    
    .footer-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .footer-subcontent{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        min-width: 500px;
    }

    .li-social{
        margin-left:2rem ;
    }

    .footer-social{
        margin-left: 3rem;
    }
    
    .nav-footer{
        margin-top: 7.5rem;
    }

    .prefooter-div{
        display: flex;
        flex-flow: nowrap;
        padding-bottom: 13.4rem;
    }

    .noimage-prefooter{
        margin-right: 4rem;
    }

    .labelclass{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    }

}